<ul class="nav flex-column nav-pills">
	<li class="nav-item p-2">
		<a class="nav-link" href="#">Overview</a>
	</li>
	<li class="nav-item p-2">
		<a class="nav-link active" href="#">New spending</a>
	</li>
	<li class="nav-item p-2">
		<a class="nav-link" href="#">New income</a>
	</li>
	<li class="nav-item p-2">
		<a class="nav-link disabled" href="#">My account</a>
	</li>
</ul>
