<div class="container-fluid">
	<div class="row">
		<div class="col-3 ml-0 p-0">
			<spendings-side-nav></spendings-side-nav>
		</div>
		<div class="col p-2">
			<div class="row">
				<div class="card-deck m-2">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Year overview</h5>
							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						</div>
					</div>
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Month overview expenses vs income</h5>
							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="card-deck m-2">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Month overview - expenses</h5>
							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						</div>
					</div>
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">Month overview - income</h5>
							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						</div>
					</div>
				</div>
			</div>
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
